!.oh-my-zsh/plugins
!.local/share/oh-my-zsh/plugins/aliases
!.local/share/oh-my-zsh/plugins/aliases/**
!.local/share/oh-my-zsh/plugins/eza
!.local/share/oh-my-zsh/plugins/eza/**
!.local/share/oh-my-zsh/plugins/direnv
!.local/share/oh-my-zsh/plugins/direnv/**
!.local/share/oh-my-zsh/plugins/gh
!.local/share/oh-my-zsh/plugins/gh/**
!.local/share/oh-my-zsh/plugins/git
!.local/share/oh-my-zsh/plugins/git/**
!.local/share/oh-my-zsh/plugins/git-auto-fetch
!.local/share/oh-my-zsh/plugins/git-auto-fetch/**
!.local/share/oh-my-zsh/plugins/git-extras
!.local/share/oh-my-zsh/plugins/git-extras/**
!.local/share/oh-my-zsh/plugins/pre-commit
!.local/share/oh-my-zsh/plugins/pre-commit/**
!.local/share/oh-my-zsh/plugins/vscode
!.local/share/oh-my-zsh/plugins/vscode/**
!.local/share/oh-my-zsh/plugins/zsh-vi-mode
!.local/share/oh-my-zsh/plugins/zsh-vi-mode/**
!.local/share/oh-my-zsh/plugins/zsh-syntax-highlighting
!.local/share/oh-my-zsh/plugins/zsh-syntax-highlighting/**
!.local/share/oh-my-zsh/plugins/fzf
!.local/share/oh-my-zsh/plugins/fzf/**
!.local/share/oh-my-zsh/plugins/zoxide
!.local/share/oh-my-zsh/plugins/zoxide/**
.local/share/oh-my-zsh/cache/**
.local/share/oh-my-zsh/plugins/**
.local/share/oh-my-zsh/templates/**
.local/share/oh-my-zsh/custom/themes/powerlevel10k/**/*.zwc


{{ if ne .chezmoi.os "linux" }}
.chezmoiscripts/linux/**
.hushlogin
.local/bin/nvim
.local/share/fonts
{{ end }}

{{ if ne .chezmoi.os "windows" }}
.chezmoiscripts/windows/**
Documents
{{ else }}
.bash_aliases
.config/ghostty
.config/git/allowed_signers
.config/nvim/lazyvim.json
.config/git/cookies
.config/psql
.config/readline
.config/tmux
.gnupg
.gnupg/**
.inputrc
.oh-my-zsh
.oh-my-zsh/**
.p10k.zsh
.ssh/id_rsa
.ssh/id_rsa.pub
.tmux.conf
.zprofile
.zshrc
{{ end }}
