{{-   $fontDir := "" }}
{{-   if eq .chezmoi.os "darwin" }}
{{-     $fontDir = "Library/Fonts" }}
{{-   else if eq .chezmoi.os "linux" }}
{{-     $fontDir = ".local/share/fonts" }}
{{-   end }}
{{-   range (list
        "MesloLGS NF Regular.ttf"
        "MesloLGS NF Bold.ttf"
        "MesloLGS NF Italic.ttf"
        "MesloLGS NF Bold Italic.ttf") }}
["{{ $fontDir }}/{{ . }}"]
    type = "file"
    url = "https://github.com/romkatv/powerlevel10k-media/raw/master/{{ . }}"
    refreshPeriod = "168h"
{{-   end }}



[".local/share/oh-my-zsh"]
    type = "archive"
    url = "https://github.com/ohmyzsh/ohmyzsh/archive/master.tar.gz"
    exact = true
    stripComponents = 1
    refreshPeriod = "168h"
    exclude = [
        "*/.*",
        "*/cache",
        "*/templates",
        "*/themes",
    ]

[".local/share/oh-my-zsh/custom/plugins/zsh-syntax-highlighting"]
    type = "archive"
    url = "https://github.com/zsh-users/zsh-syntax-highlighting/archive/master.tar.gz"
    exact = true
    stripComponents = 1
    refreshPeriod = "168h"
    exclude = [
        "*/.editorconfig",
        "*/.gitattributes",
        "*/.github",
        "*/.gitignore",
    ]

[".local/share/oh-my-zsh/custom/themes/powerlevel10k"]
    type = "archive"
    url = "https://github.com/romkatv/powerlevel10k/archive/{{ (gitHubLatestRelease "romkatv/powerlevel10k").TagName }}.tar.gz"
    exact = true
    stripComponents = 1

[".local/share/oh-my-zsh/custom/plugins/zsh-vi-mode"]
    type = "archive"
    url = "https://github.com/jeffreytse/zsh-vi-mode/archive/master.tar.gz"
    exact = true
    stripComponents = 1
    refreshPeriod = "168h"

[".local/share/nushell/vendor/nupm"]
    type = "git-repo"
    url = "https://github.com/nushell/nupm.git"
    refreshPeriod = "168h"


{{- /* trufflehog prebuilt release for Linux arm64 only */}}
{{- $th := gitHubLatestRelease "trufflesecurity/trufflehog" }}
{{- if eq .chezmoi.os "linux" }}
[".local/bin/trufflehog"]
    type = "archive-file"
    url = "https://github.com/trufflesecurity/trufflehog/releases/download/{{ $th.TagName }}/trufflehog_{{ trimPrefix "v" $th.TagName }}_linux_arm64.tar.gz"
    executable = true
    path = "trufflehog"
{{- end }}


{{- $dotenvx_release := gitHubLatestRelease "dotenvx/dotenvx" }}
[".local/bin/dotenvx"]
    type = "archive-file"
    url = "https://github.com/dotenvx/dotenvx/releases/download/{{ $dotenvx_release.TagName }}/dotenvx-{{ trimPrefix "v" $dotenvx_release.TagName }}-linux-aarch64.tar.gz"
    executable = true
    path = "./dotenvx"


{{- if .is_wsl }}
[".local/bin/win32yank.exe"]
  type = "archive-file"
  url = "https://github.com/equalsraf/win32yank/releases/download/v0.0.4/win32yank-x64.zip"
  path = "win32yank.exe"
  executable = true
  refreshPeriod = "168h"
{{- end }}
