# 00-env.zsh — general environment variables (non-PATH)

export EDITOR='nvim'
export LANG=en_US.UTF-8

export GIT_CONFIG_GLOBAL="$HOME/.config/git/config"

export HISTFILE="$HOME/.cache/zsh/.zsh_history"
export WGETRC="$HOME/.config/wget/wgetrc"
export PYTHONHISTFILE="$HOME/.cache/python/python_history"
export TS_NODE_REPL_HISTORY="$HOME/.cache/ts-node/ts_node_repl_history"