
# 00-env.zsh — general environment variables (non-PATH)

# XDG Base Directories
export XDG_CONFIG_HOME="$HOME/.config"
export XDG_CACHE_HOME="$HOME/.cache"
export XDG_DATA_HOME="$HOME/.local/share"
export XDG_STATE_HOME="$HOME/.local/state"

# oh-my-zsh install location
export ZSH="$XDG_CONFIG_HOME/zsh/oh-my-zsh"

# Locale and Editor
export LANG=en_US.UTF-8
export EDITOR='nvim'

# Config files
export GIT_CONFIG_GLOBAL="$XDG_CONFIG_HOME/git/config"
export WGETRC="$XDG_CONFIG_HOME/wget/wgetrc"

export HISTFILE="$XDG_STATE_HOME/zsh_history"
export PYTHONHISTFILE="$XDG_STATE_HOME/python_history"
export LESSHISTFILE="$XDG_STATE_HOME/lesshst"
export TS_NODE_REPL_HISTORY="$XDG_STATE_HOME/ts_node_repl_history"
export NODE_REPL_HISTORY="$XDG_STATE_HOME/node_repl_history"

# Toolchain data
export RUSTUP_HOME="$XDG_DATA_HOME/rustup"
export CARGO_HOME="$XDG_DATA_HOME/cargo"
# GnuPG keyring and config
export GNUPGHOME="$XDG_DATA_HOME/gnupg"