#!/usr/bin/env zsh
# activations.zsh Tool activations

# Execution of commands in zvm_after_init_commands will be
# delayed until after zsh vi mode initializes to prevent
# keymap conflicts.
typeset -gUa zvm_after_init_commands

# Initialize homebrew environment
if [[ -d "/home/linuxbrew/.linuxbrew" ]]; then
    eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
elif [[ -d "$HOME/.linuxbrew" ]]; then
    eval "$($HOME/.linuxbrew/bin/brew shellenv)"
fi

{{if not .is_mobile -}}
# Desktop-only tool activations
if command -v atuin >/dev/null 2>&1; then
    zvm_after_init_commands+=('eval "$(atuin init zsh)"')
fi
{{- end }}
if [[ -z ${__DOTFILES_ZOXIDE_INIT_DONE-} ]]; then
    eval "$(zoxide init zsh)"
    typeset -g __DOTFILES_ZOXIDE_INIT_DONE=1
fi
