# 20-zellij.zsh — zellij session logic
{{- if not .is_mobile }}
zellij_session=$(hostname)

# do not auto-start or attach zellij when running inside VS Code terminals (as denoted by $VSCODE)
# or if already inside a zellij session (as denoted by $ZELLIJ).
# Only proceed when not in VS Code and when $ZELLIJ is unset/empty
if [[ -z "$VSCODE" && -z "$ZELLIJ" ]]; then

  new-zellij() {
    zellij options \
      --no-pane-frames \
      --default-layout disable-status-bar \
      --session-name $zellij_session
  }

if [[ -z "$ZELLIJ" ]]; then
  if zellij ls | grep -v EXITED | grep $zellij_session; then
    echo "Attaching to existing session..."
    zellij attach $zellij_session
  else
    echo "Starting new session..."
    zellij delete-session $zellij_session || true
    new-zellij
  fi

fi
{{- end }}
