# ohmyzsh.zsh - Oh My Zsh theme and plugin settings

plugins=(
  aliases
  eza
  direnv
  gh
  git
  git-auto-fetch
  git-extras
  pre-commit
  vscode
  zsh-vi-mode
  zsh-syntax-highlighting
{{- if not .is_mobile }}
  fzf
  zoxide
{{- end }}
)

zstyle ':omz:update' mode auto
zstyle ':omz:update' frequency 13

source $ZSH/oh-my-zsh.sh
