# ohmyzsh.zsh - Oh My Zsh theme and plugin settings

plugins=(
{{- range .zshPlugins }}
  {{ . }}
{{- end }}
)

zstyle ':omz:update' mode auto
zstyle ':omz:update' frequency 13

source $ZSH/oh-my-zsh.sh
