{{- $gh_bin := lookPath "gh" -}}
[credential "https://github.com"]
	helper = 
	helper = !{{- $gh_bin -}} auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !{{- $gh_bin -}} auth git-credential
[user]
	name = {{ .name }}
	email = {{ .email }}
	signingkey = {{ env "HOME" }}/.ssh/{{- .git_signing_key -}}.pub
[core]
	editor = vim
[push]
	autoSetupRemote = true
[init]
	defaultBranch = main
[commit]
	gpgsign = true
[gpg]
	format = ssh
