{{- $gh_bin := lookPath "gh" -}}
[credential "https://github.com"]
	helper = 
	helper = !{{- $gh_bin -}} auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !{{- $gh_bin -}} auth git-credential
[user]
	name = {{ .name }}
	email = {{ .email }}
	signingkey = {{ env "HOME" }}/.ssh/{{- .git_signing_key -}}.pub
[core]
	editor = vim
    pager = delta
[push]
	autoSetupRemote = true
[init]
	defaultBranch = main
[commit]
	gpgsign = true
[gpg]
	format = ssh
[delta]
    navigate = true  # use n and N to move between diff sections
    dark = true      # or light = true, or omit for auto-detection
[diff]
	tool = difftastic
[difftool]
  prompt = false
[difftool "difftastic"]
	cmd = difft "$LOCAL" "$REMOTE"
[alias]
	difft = difftool
[merge]
    conflictStyle = zdiff3
[interactive]
    diffFilter = delta --color-only
